In [15]:
import pandas as pd
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [16]:
import nltk
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...

True

In [17]:
sid = SentimentIntensityAnalyzer()

In [18]:
data = pd.read_csv("data.csv", header=0,encoding = 'unicode_escape')

In [19]:
data.head()

,title,news
0,Real-go-top-after-win-over-Sevilla\n,Real Madrid climbed above Barcelona to top La ...
1,More-extrajudicial-killings-in-USA-than-in\n,Mentioning that the number of extrajudicial ki...
2,Road-crashes-claim-seven-lives-in-Jashore\n,"Five women, including three members of a famil..."
3,Wonder-girl-Litun-Jira-receives-aid\n,A Bangladeshi conglomerate has extended its he...
4,Utah-home-shooting-leaves-4-dead\n,Four people were killed and another wounded in...

In [20]:
listy = []

for index, row in data.iterrows():
  ss = sid.polarity_scores(row["news"])
  listy.append(ss)
  
se = pd.Series(listy)
data['polarity'] = se.values

In [21]:
data.head(10)

,title,news,polarity
0,Real-go-top-after-win-over-Sevilla\n,Real Madrid climbed above Barcelona to top La ...,"{'neg': 0.087, 'neu': 0.84, 'pos': 0.072, 'com..."
1,More-extrajudicial-killings-in-USA-than-in\n,Mentioning that the number of extrajudicial ki...,"{'neg': 0.165, 'neu': 0.816, 'pos': 0.018, 'co..."
2,Road-crashes-claim-seven-lives-in-Jashore\n,"Five women, including three members of a famil...","{'neg': 0.193, 'neu': 0.787, 'pos': 0.02, 'com..."
3,Wonder-girl-Litun-Jira-receives-aid\n,A Bangladeshi conglomerate has extended its he...,"{'neg': 0.021, 'neu': 0.829, 'pos': 0.15, 'com..."
4,Utah-home-shooting-leaves-4-dead\n,Four people were killed and another wounded in...,"{'neg': 0.205, 'neu': 0.761, 'pos': 0.035, 'co..."
5,12-yr-old-boy-arrested-for-raping-first-grader\n,A 12-year-old boy has been arrested from Kayet...,"{'neg': 0.153, 'neu': 0.847, 'pos': 0.0, 'comp..."
6,Zia%E2%80%99s-84th-birth-anniversary-Sunday\n,BNP will celebrate the 84th birth anniversary ...,"{'neg': 0.013, 'neu': 0.885, 'pos': 0.102, 'co..."
7,Dhaka-city-polls-now-on-1-February\n,Elections to both the Dhaka north city corpora...,"{'neg': 0.066, 'neu': 0.892, 'pos': 0.042, 'co..."
8,Arrest-warrant-against-Prothom-Alo-editor\n,Six leaders of Jatiya Oikya Front in a joint s...,"{'neg': 0.073, 'neu': 0.831, 'pos': 0.096, 'co..."
9,SSC-exams-deferred-to-begin-from-3-Feb\n,The Secondary School Certificate (SSC) and its...,"{'neg': 0.014, 'neu': 0.967, 'pos': 0.019, 'co..."

In [23]:
data.to_csv('sentiment.csv')

PermissionError: [Errno 13] Permission denied: 'sentiment.csv'