In [1]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [2]:
x = 5
y = "Hello, World!"

print(x)
print(y)

5
Hello, World!

In [3]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [4]:
print("Hello, World!") #This is a comment.

Hello, World!

In [5]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [6]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [7]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [8]:
x = 4
x = "Sally"
print(x)

Sally

In [9]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [10]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

In [11]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [12]:
x = "Python is "
y = "awesome"
z = x + y
print(z)

Python is awesome

In [13]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [14]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [15]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [16]:
x = 5
print(type(x))

<class 'int'>

In [17]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [18]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [19]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [20]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [21]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(x)

print(x)
print(y)
print(z)

1.0
2
(1+0j)

In [22]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [23]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x)
print(y)
print(z)

s1
2
3.0

In [24]:

print("Hello")
print('Hello')

Hello
Hello

In [25]:
a = "Hello"
print(a)

Hello

In [26]:
a = "Hello, World!"
print(a[1])

e

In [27]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [28]:
a = "Hello, World!"
print(len(a))

13

In [29]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [30]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [31]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [32]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [33]:
a = "Hello, World!"
b = a.split(",")
print(b)

['Hello', ' World!']

In [34]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [35]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

In [36]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [37]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [38]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [39]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [40]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [41]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [42]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [43]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [44]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [50]:
thislist = ["saykot", "akash", "rony"]
print(thislist)

['saykot', 'akash', 'rony']

In [51]:
thislist = ["shah", "poran", "vhuiyan"]
print(thislist[1])

poran

In [52]:
thislist = ["asad", "rony", "faysal"]
print(thislist[-1])

faysal

In [48]:
thislist = ["shah", "poran", "vhuiyan", "rony", "akash", "mohon", "asad"]
print(thislist[2:5])

['vhuiyan', 'rony', 'akash']

In [53]:
thislist = ["shah", "poran", "vhuiyan", "rony", "akash", "mohon", "asad"]
print(thislist[:4])

['shah', 'poran', 'vhuiyan', 'rony']

In [54]:
thislist = ["shah", "poran", "vhuiyan", "rony", "akash", "mohon", "asad"]
print(thislist[-4:-1])

['rony', 'akash', 'mohon']

In [56]:
thislist = ["shah", "rony", "faysal"]
thislist[1] = "blackcurrant"

print(thislist)

['shah', 'blackcurrant', 'faysal']

In [57]:
thislist = ["poran", "rony", "faysal"]
for x in thislist:
  print(x)

poran
rony
faysal

In [58]:
thislist = ["poran", "asad", "cherry"]
if "poran" in thislist:
  print("Yes, 'poran' is in the fruits list")

Yes, 'poran' is in the fruits list

In [59]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [60]:
thislist = ["poran", "rony", "faysal"]

thislist.append("asad")

print(thislist)

['poran', 'rony', 'faysal', 'asad']

In [61]:
thislist = ["poran", "asad", "cherry"]
thislist.insert(1, "koly")
print(thislist)

['poran', 'koly', 'asad', 'cherry']

In [62]:
thislist = ["rakib", "akash", "saykot"]
thislist.remove("akash")
print(thislist)

['rakib', 'saykot']

In [63]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [64]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [65]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [66]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [67]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [68]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [69]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [70]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [71]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [72]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [73]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [74]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [75]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [76]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [77]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [81]:
thistuple = ("apple",)
print(type(thistuple))
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [82]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [83]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [84]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [85]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'orange', 'cherry', 'banana'}

In [86]:
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'cherry', 'banana', 'grapes', 'orange', 'mango', 'apple'}

In [87]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [88]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [89]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [90]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'cherry', 'banana'}

In [91]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [93]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 'b', 'a', 3, 'c'}

In [94]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 'b', 'a', 3, 'c'}

In [95]:
thisset = set(("apple", "banana", "cherry")) 
print(thisset)

{'apple', 'cherry', 'banana'}

In [96]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [99]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [100]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [101]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [102]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [103]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [104]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [106]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [107]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [111]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [112]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [113]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [114]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [115]:
a = 2
b = 330
print("A") if a > b else print("B")

B

In [116]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [117]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [118]:
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [119]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [120]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [121]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [122]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [123]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [124]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [125]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [126]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [127]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [128]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!